/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Container styles */
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 20%) 1fr;
  grid-template-rows: auto 1fr;
}

/* header styles */
.header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  border: 1px solid red;
  padding: 24px;
}

.header-icon {
  width: 24px;
  height: 24px;
}

.user-avatar-1-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #facc2f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar-1-sm img {
  width: 36px;
  height: 36px;
}

.user-avatar-1-lg {
  width: 60px;
  height: 60px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-input {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  background-color: #e2e8f0;
  border: none;
}

.username-sm {
  display: flex;
  align-items: center;
  gap: 16px;
}

.username-sm span {
  font-weight: 700;
}

.username-lg {
  display: flex;
  align-items: center;
}

.header-buttons {
  display: flex;
  align-items: center;
}

/* Sidebar styles */
.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

/* Main styles */
.main {
  grid-column: 2;
  grid-row: 2;
}

.card-icon {
  width: 24px;
  height: 24px;
}

/* Widget styles */
.trending-avatar {
  width: 40px;
  height: 40px;
}
