/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Container styles */
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 20%) 1fr;
  grid-template-rows: auto 1fr;
}

/* header styles */
.header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 16px 48px 16px 40px;
  row-gap: 24px;
  box-shadow: 0 10px 8px -4px rgba(0, 0, 0, 0.08);
}

.header-icon {
  width: 24px;
  height: 24px;
}

.user-avatar-1-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #facc2f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar-1-sm img {
  width: 100%;
  height: 100%;
}

.user-avatar-1-lg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #facc2f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-input {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  background-color: #e2e8f0;
  border: none;
}

.username-sm {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
}

.username-sm span {
  font-weight: 700;
}

.username-lg {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
}

.btn {
  background-color: #1792d2;
  color: #fff;
  border: none;
  border-radius: 16px;
  width: 90px;
  padding-block: 5px;
  cursor: pointer;
  font-weight: 700;
}

.greeting {
  font-size: 14px;
  font-weight: 700;
}

.username {
  font-size: 20px;
  font-weight: 700;
}

.username-greeting {
  line-height: 1.4;
}

/* Sidebar styles */
.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: #1792d2;
  color: #fff;
  padding: 16px;
}

.nav-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.heading,
.nav li {
  display: flex;
}

.nav ul {
  padding-left: 8px;
}

.nav li span {
  font-weight: 500;
}

.nav li {
  margin-bottom: 16px;
  gap: 18px;
}

.nav ul li:nth-child(6) {
  margin-bottom: 48px;
}

.heading {
  align-items: center;
  gap: 12px;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.dashboard-icon {
  width: 40px;
  height: 40px;
}

/* Main styles */
.main {
  grid-column: 2;
  grid-row: 2;
  padding: 40px 32px 40px 16px;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* Project Cards styles  */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  border-left: 8px solid #f1b437;
  padding: 32px 24px;
}

.card-content {
  line-height: 1.2;
  flex: 1;
  margin-bottom: 24px;
}

.card-content h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

.card-content p {
  color: #636363;
}

.card-icons {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
}

.card-icon {
  width: 24px;
  height: 24px;
}

/* Widget styles */
.widget-announcements {
  background-color: #fff;
}

.widget-announcement h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

.trending-avatar {
  width: 40px;
  height: 40px;
}
